@model IEnumerable<MusicApp.Models.Music>

@{
    ViewData["Title"] = "Music List";
}

<h1>Music List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Year</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Artist</td>
                <td>@item.Album</td>
                <td>@item.Year</td>
            </tr>
        }
    </tbody>
</table>
